html
  head
    block head
      meta(charset='utf-8')
  body
    block body
      div(id='app')
      script(src='https://dn-bts.qbox.me/sdk/bugtags-1.0.3.js')
      script.
        new Bugtags('0eb7730f7b0a08efa763448b905c8ed8', '1.0.0', 'build 20180720')